
.root {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: top;
    height: 25px;
    margin-right: 5px;
}

.name,
.value {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    line-height: 25px;
    padding: 0px 4px;
    vertical-align: top;
}

.name {
    border-radius: 10px 0px 0px 10px;
    background-color: gray;
    color: white;
}

.value {
    border-radius: 0px 10px 10px 0px;
    border: 1px solid gray;
    color: gray;
}